
<%= session["email"]%><form method=post action=/logout><input type=submit value="LOgout"></form>
<br><br>
<h2>Login</h2>
<form method=post action=/login>
    <input type=text placeholder="Email" name="user[email]"><br>
    <input type=password placeholder="Password" name="user[password]"></br>
    <input type=submit value="Login">
</form>